@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.font-cursive {
    font-family: 'Dancing Script', cursive;
}



@keyframes float {

    0%,
    100% {
        transform: translateY(0) translateX(0);
    }

    25% {
        transform: translateY(-20) translateX(10);
    }

    50% {
        transform: translateY(10) translateX(-10);
    }

    75% {
        transform: translateY(-10) translateX(-5);
    }

}

.border-glow {
    box-shadow: 0 0 rgba(245, 158, 11, 0.3);

}

.shadow-3d {
    box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.3), -4px -4px 15px rgba(255, 255, 255, 0.05);
}

.font-serif {
    font-family: ui-serif, Georgia, Cambria 'Times New Roman', Times, serif;
}