@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&display=swap');

.font-dacingscript {
    font-family: 'Dancing Script', cursive;
}

.font-cinzel {
    font-family: 'Cinzel', serif;
}


@keyframes cardEntrance {
    0% {
        opacity: 0;
        transform: translateY(60px) scale(0.95); /* خلي الحركة أكبر شويه */
    }
    60% {
        opacity: 1;
        transform: translateY(-15px) scale(1.03); /* شوية دفع للأعلى */
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.card-animate {
    opacity: 0;
    animation: cardEntrance 1.2s cubic-bezier(0.25, 0.8, 0.25, 1) forwards; /* مدة أطول = أبطأ */
    animation-delay: calc(var(--index) * 0.15s); /* فرق زمني أكبر بين كل كارت */
}
